[paths]
source = songdb

[run]
branch = true
source =
    songdb
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    songdb\__init__.py
    songdb\__main__.py
